<h2>Amministrazione</h2>

<div class="panel panel-default row" ng-controller="adminCtrl">
	<div class="col-xs-8">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Numero partite</td>
					<td><input type="textbox" ng-model="data.match" class="text text-right" /></td>
				</tr>
				<tr>
					<td>Numero tavoli</td>
					<td><input type="textbox" ng-model="data.tavoli" class="text text-right" /></td>
				</tr>
				<tr>
					<td>Nuovo giocatore</td>
					<td><input type="textbox" ng-model="data.nome"></td>
					<td>
						<button ng-click="addPlayer(data.nome)" ng-show="data.nome" class="btn btn-sm btn-primary">
							Aggiungi giocatore
						</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>

	<div class="col-xs-8">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="item in sortedPlayers">
					<td>{{item.giocatore}}</td>
					<td>{{item.punteggio}}</td>
					<td>
						<button ng-click="removePlayer(item)" class="btn btn-sm btn-primary">
							Rimuovi 		
						</button>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>

	<div class="col-xs-8">
		<button ng-click="generateTables(data.activeGame)" class="btn btn-sm btn-primary">
			Genera tavoli {{data.activeGame}}		
		</button>
		<div ng-repeat="item in data.partite">
			{{item}}
		</div>
	</div>

	<div class="col-xs-8">
		<button ng-click="generateScore(data.activeGame)" class="btn btn-sm btn-primary">
			Genera punteggio {{data.activeGame}} 		
		</button>
		<div ng-repeat="item in sorted">
			{{item}}
		</div>
	</div>

</div>